VITE_PARTYKIT_HOST=localhost:1999
VITE_SUPABASE_URL=https://ebrawwgtbpguwyyioifb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVicmF3d2d0YnBndXd5eWlvaWZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MTE2NTAsImV4cCI6MjA4ODQ4NzY1MH0.JB2EAe-pVPrQq2HypN5pY7JGWvyay6uqkrO2378I3Kw